# Python
*.pyc
*.pyo
__pycache__/

# Django
*.log
*.pot
*.pyc
local_settings.py
static/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editors
.idea/

# Virtual Environment
.venv/

# pytest artifacts
pytest.ini
.pytest_cache/

# pytest-cov
.coverage
htmlcov/

# Ruff
.ruff_cache/

# mypy
.mypy_cache/

# sqlite3
# *.sqlite3  # Temporarily allow sqlite3 files to be committed for testing purposes

# celery
celerybeat-schedule.db
